<!doctype html>
<html lang="en" ng-app="appModule" ng-controller="appController">
<head>
    <base href="/">

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="./assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="./assets/css/style.css">

    <!-- AngularJS -->
    <script src="./angular-core/angular.min.js"></script>
    <script src="./angular-core/angular-ui-router.min.js"></script>
    <script src="./angular-core/angular-jwt.min.js"></script>
    <script src="./angular-core/angular-storage.min.js"></script>

    <script src="./angular-app/app.js"></script>
    <script src="./angular-app/providers/helper.service.js"></script>
    <script src="./angular-app/providers/storage.service.js"></script>
    <script src="./angular-app/providers/config.service.js"></script>
    <script src="./angular-app/providers/http-interceptor.factory.js"></script>
    <script src="./angular-app/auth/login.module.js"></script>
    <script src="./angular-app/auth/register.module.js"></script>
    <script src="./angular-app/chat/chat.module.js"></script>

    <!-- 3rd-party -->
    <script src="./assets/js/jquery.js"></script>
    <script src="./assets/js/tether.js"></script>
    <script src="./assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="./assets/js/socket.io.js"></script>
</head>
<body>

<div class="tb-embed-app">
    <div ng-click="toggleAppContent(); $event.preventDefault()"
         class="tb-embed-app-header d-flex justify-content-between">
        <span>Online support</span>
        <a ng-if="loggedIn()"
           ng-click="logout($event)"
           href="#logout" title="Sign Out">
            <i class="fa fa-sign-out"></i>
        </a>
    </div>

    <div ng-hide="!appContentToggleState" class="tb-embed-app-content">
        <div ui-view></div>
    </div>
</div>

</body>
</html>