<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/tether.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/javascripts/socket.io.js"></script>
</body>
</html>