/* BASE
------------------------------------------*/
body {
    background: transparent;
}

/* LAYOUT
------------------------------------------*/
.tb-embed-app {
    overflow: hidden;
}

.tb-embed-app .tb-embed-app-header {
    padding: 5px 10px;
    background: #0275d8;
    color: #fff;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    cursor: pointer;
}

.tb-embed-app .tb-embed-app-header a {
    color: #fff;
}

.tb-embed-app-content {
    background: #fff;
}

/* MODULE: auth
------------------------------------------*/
.tb-register-view,
.tb-login-view {
    padding: 10px;
}

/* MODULE: chat
------------------------------------------*/
.tb-chat-frame .entry-messages {
    background: #f2f2f2;
    height: 15.3rem;
    overflow-y: scroll;
    border-radius: .25rem;
    padding: .5rem;
}

.tb-chat-frame .entry-messages > div {
    margin-bottom: .3rem;
}

.tb-chat-frame form {
    padding: .5rem;
}
