<% include partials/head.ejs %>

<script src="/angularjs/modules/chat/customer-chat.module.js"></script>
<script src="/angularjs/chat.main.js"></script>

<div ng-app="chatMainModule" ng-controller="chatMainController">
    <div ui-view></div>
</div>

<% include partials/foot.ejs %>