<div class="tb-register-view">
    <form name="form" ng-submit="register()">
        <div ng-class="{'has-danger': form.email.$error.required || form.email.$error.email}"
             class="form-group">
            <input ng-model="registerForm.email"
                   name="email"
                   type="email" class="form-control" placeholder="Enter email" required>
        </div>
        <div ng-class="{'has-danger': form.displayName.$error.required}"
             class="form-group">
            <input ng-model="registerForm.displayName"
                   name="displayName"
                   type="text" class="form-control" placeholder="Enter display name" required>
        </div>
        <div ng-class="{'has-danger': form.password.$error.required}"
             class="form-group">
            <input ng-model="registerForm.password"
                   name="password"
                   type="password" class="form-control" placeholder="Enter password" required>
        </div>
        <!--<div ng-class="{'has-danger': form.site.$error.required}"-->
             <!--class="form-group">-->
            <!--<input ng-model="registerForm.site"-->
                   <!--name="site"-->
                   <!--type="text" class="form-control" placeholder="[dev] Site ID" required>-->
        <!--</div>-->
        <div class="form-group">
            <button ng-disabled="!form.$valid"
                    type="submit" class="btn btn-success d-block text-center" style="width: 100%">
                Sign Up
            </button>
        </div>
        <div class="text-center mt-2">
            <small>Already got an account? <a ui-sref="login">Sign in.</a></small>
        </div>
    </form>
</div>