<div *ngIf="site" class="jumbotron jumbotron-fluid pt-4 pb-4">
    <div class="container d-sm-flex justify-content-sm-between">
        <div>
            <h2 class="display-4" style="font-size: 2rem">{{site.displayName}} - {{site.domain}}</h2>
            <p *ngIf="isOwner(site)" class="lead">Manage other agents which can chat with customers from this site.</p>
            <p *ngIf="!isOwner(site)">Owner: <strong>{{site.owner.displayName}}</strong></p>
            <!--<a routerLink="/sites/create">ADD NEW SITE</a>-->
        </div>
        <ul class="tb-actions-list-inline">
            <li><a routerLink="/chat/{{site._id}}"><i class="fa fa-comments"></i> Start chatting</a></li>
        </ul>
        <!--<hr class="my-4">-->
        <!--<p>It uses utility classes for typography and spacing to space content out within the larger container.</p>-->
        <!--<p class="lead">-->
        <!--<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>-->
        <!--</p>-->
    </div>
</div>

<div class="container">
    <div *ngIf="site" class="card">
        <!--<div class="card-header d-sm-flex justify-content-sm-between">-->
            <!--<span>{{site.displayName}} - {{site.domain}}</span>-->
            <!--<span *ngIf="!isOwner(site)">Owner: <strong>{{site.owner.displayName}}</strong></span>-->
        <!--</div>-->
        <div class="card-block">
            <div class="row">
                <div class="col-xs-12 col-sm-7">
                    <h3 class="card-title font-weight-normal" style="font-size: 1.5rem">Agents in this site</h3>
                    <agent-agent-search *ngIf="isOwner(site)" (onAgentSelected)="assignAgent($event)">
                    </agent-agent-search>
                    <table *ngIf="site.agents.length" class="table mt-3">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Email</th>
                            <th>Display Name</th>
                            <th *ngIf="isOwner(site)" class="text-center" style="width: 5rem">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let agent of site.agents; let agentIndex = index">
                            <th scope="row">{{agentIndex + 1}}</th>
                            <td>{{agent.email}}</td>
                            <td>{{agent.displayName}}</td>
                            <td *ngIf="isOwner(site)" class="text-center"><a
                                    (click)="unassignAgent(agent); $event.preventDefault()" href="#"
                                    class="btn btn-danger btn-sm">Unassign</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-xs-12 col-sm-5">
                    <h3 class="card-title font-weight-normal" style="font-size: 1.5rem">Embed snippet</h3>
                    <p class="text-muted">Paste this snippet into your site, ideally right before the <code>&lt;/body&gt;</code> closing tag.</p>
                    <code *ngIf="embedCode" style="word-wrap: break-word;">{{embedCode}}</code>
                </div>
            </div>
        </div>
    </div>
</div>