@import 'variables';

@mixin app-font-size($font-size-in-px) {
  font-size: $font-size-in-px + px;
  font-size: ($font-size-in-px / ($app-base-font-size / 1px)) + rem;
}

@function px-to-rem($value-in-px) {
  @return ($value-in-px / ($app-base-font-size / 1px)) + rem;
}

@mixin fa($icon) {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: $icon;
}