@import "../../../assets/bootstrap/scss/bootstrap";

.tb-chat-frame {
  .entry-messages {
    background: #f2f2f2;
    height: 16.47rem;
    overflow-y: scroll;
    border-radius: $border-radius;
    padding: .5rem;
    > div {
      margin-bottom: .3rem;
    }
  }
  form {
    padding: .5rem;
  }
}