<div class="tb-chat-frame">
    <div #messagesDiv class="entry-messages">
        <div *ngFor="let message of messages; let messageIndex = index; let last = last">
            <strong>{{message.createdBy.displayName}}: </strong> {{message.content}}
            <ng-container *ngIf="last">{{scrollMessagesToBottom(last)}}</ng-container>
        </div>
    </div>
    <form [formGroup]="chatForm" (submit)="onSubmit()">
        <div class="input-group">
            <input formControlName="content" type="text" class="form-control" placeholder="Nhập tin nhắn ...">
            <span class="input-group-btn">
                <button [disabled]="!chatForm.valid || submitted" class="btn btn-primary" type="button">GỬI</button>
            </span>
        </div>
    </form>
</div>