@import "../assets/bootstrap/scss/bootstrap";

html {
  font-size: 15px;
}

body {
  font-size: 0.9rem;
  padding-top: 0.5rem * 2 + 0.5rem * 2 + $line-height-base;
  padding-bottom: 0.5rem * 2 /* navbar padding */ + 0.5rem * 2 /* navbar content padding */ + $line-height-base;
}

.app-page-title {
  font-size: 1.5rem;
}

.tb-actions-list-inline {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    display: inline-block;
    position: relative;
    margin-right: 10px;
    &::after {
      content: '';
      position: absolute;
      display: block;
      width: 1px;
      height: 20px;
      background: rgba($blue, .3);
      right: -8px;
      top: 0;
    }
    &:last-child {
      margin-right: 0;
      &::after {
        display: none;
      }
    }
  }
}